body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f2f5;
    color: #333;
    margin: 0;
    padding: 0;
}

#calendar {
    margin: 0 auto; /* Center the calendar horizontally */
    width: 90%; /* Ensure it takes most of the width on smaller screens */
    max-width: 100%; /* Prevent overflow on large screens */
    min-height: 80vh; /* Ensure the calendar takes up more vertical space */
    padding: 10px;
}

@media (max-width: 768px) {
    #calendar {
        width: 95%; /* Increase the width slightly on mobile */
        margin: 20px auto; /* Add a little space around the calendar */
        padding: 5px;
    }
    .modal-dialog {
        max-width: 90%; /* Ensure modals are well-adjusted on mobile */
        margin: 0 auto;
    }
}