#content {
    display: flex; /* Use flexbox layout */
    flex-wrap: wrap; /* Allow items to wrap to the next line */
    justify-content: space-between; /* Evenly space out items horizontally */
    padding: 20px; /* Add padding around the content */
    margin-left: 100px; /* Add margin to the left to create space for the taskbar */
    margin-top: 50px; /* Add margin to the top */
}

.box {
    width: calc(33.33% - 20px); /* Calculate width for each box (33.33% of container width minus padding) */
    height: 150px; /* Set height of each box */
    margin-bottom: 20px; /* Add spacing between boxes */
    background-color: #f0f0f0; /* Background color of boxes */
    border: 1px solid #ccc; /* Border style */
    border-radius: 10px; /* Rounded corners */
    padding: 20px; /* Add padding inside boxes */
    box-sizing: border-box; /* Include padding and border in the box's total width and height */
    transition: transform 0.2s; /* Add transition for smooth scaling */
}

/* Additional styling for the text inside the boxes */
.box p {
    margin: 0; /* Remove default margin */
}

/* Hover effect for content boxes */
.box:hover {
    transform: scale(1.05); /* Increase scale on hover */
}

body {
    font-family: 'Roboto', sans-serif; /* Set Roboto font as default for the body */
}

#content p {
    font-family: 'Roboto', sans-serif; /* Set Roboto font for paragraphs within the content */
}
/* Style for success message */
.success-message {
    position: fixed; /* Fixed position to keep it at the top of the viewport */
    top: 50px; /* Distance from the top */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Center horizontally */
    background-color: #4CAF50; /* Green background color */
    color: #ffffff; /* White font color */
    padding: 10px 20px; /* Padding around the message */
    border-radius: 5px; /* Rounded corners */
    z-index: 999; /* Ensure it's on top of other content */
    opacity: 1; /* Initially fully visible */
    transition: opacity 0.5s; /* Fade-in/out animation */
}
