/* projects.css */


/* Adjusting spacing for content below header */
body {
    padding-top: 20px; /* Adjust this value according to the header height */
    padding-left: 100px;
    font-family: 'Roboto', sans-serif;
}

/* Adjusted styles for search input */
.form-control {
    margin-bottom: 10px; /* Adjusted margin */
    border-radius: 0.25rem; /* Added border-radius */
}

/* Adjusted styles for status select */
.form-select {
    margin-bottom: 10px; /* Adjusted margin */
    border-radius: 0.25rem; /* Added border-radius */
}

/* Adjusted styles for apply buttons */
.btn-primary {
    width: 100%;
}

/* Table styles */
.table {
    width: 100%;
}

.table th,
.table td {
    padding: 10px; /* Add padding for spacing */
    text-align: center; /* Align text to the center */
    vertical-align: middle; /* Vertically center content */
}

.table th {
    background-color: #f2f2f2;
}

/* Success message styling */
.alert-dismissible {
    position: relative;
}

.alert-dismissible .btn-close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.5rem 1rem;
}

.sort-arrow {
    display: inline-block;
    margin-left: 10px;
    cursor: pointer;
}

.sort-arrow .bi {
    font-size: 1.2rem;
    margin: 0 5px;
    color: gray; /* Default color for inactive arrows */
}

.sort-arrow .bi.active {
    font-weight: bold; /* Bold for active arrow */
    color: black; /* Color for active arrow */
}