body {
    padding-top: 56px; /* Adjust this value if your header is taller */
}
.container {
    max-width: 900px;
}
table {
    border: 1px solid #dee2e6;
    border-radius: .25rem;
}
th, td {
    padding: 1rem;
    vertical-align: middle;
}
th {
    background-color: #f8f9fa;
    color: #495057;
}
td {
    background-color: #ffffff;
}
h1 {
    margin-bottom: 20px;
}

.table-dark th {
    background-color: #343a40;
    color: #ffffff;
    font-weight: bold;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f9f9f9;
}
